<div class="badge-wrapper">
  <h1 class="badge_title">Your Badges</h1>
  <div class="user_badges_container">
    <%= render current_user.badges %>
  </div>
  <h1 class="badge_title">All Badges<h1>
  <div class="all_badges_container">
    <%= render @all_badges %>
  </div>
</div> 